@use "@zocom/styles" as *;

.receipt {
  background-color: $colorClay;
  height: 100vh;
  .receipt__section {
    padding: $baseline;
    width: 100%;
    @include columnBasic;
    justify-content: space-between;

    .receipt__button {
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 96%;
    }
  }

  .cart-item__details {
    @include fontsizeRegular;
  }

  .cart-item__value {
    @include fontsizeSmall;
  }

  .total {
    .total__text {
      @include fontsizeRegular;
    }

    .total__tax {
      @include fontsizeSmall;
    }

    .total__price {
      @include fontsizeLarge;
    }
  }
}


