@use "@zocom/styles" as *;

.order {
  height: 100vh;
  background-color: $colorAsh;
  &__section {
    padding: $padding-sml;
    width: 100%;
    background-color: $colorAsh;

    .order__empty-text {
      text-align: center;
      @include fontsizeRegular;
      text-transform: uppercase;
      margin: $baseline;
    }

    .button__stretch--dark {
      margin-top: $baseline;
    }
  }

  &__total, &__empty {
    position: fixed;
    bottom: 0;
  left: 50%;
  transform: translate(-50%,-50%);
    width: 96%;
  }
}
