@use "@zocom/styles" as *;

.kitchen-done-card {
    background-color: #dbfbf0;
    padding: $padding-sml;
    border-radius: $radius-tier-2;
    box-shadow: $shadow-sml;
    text-transform: uppercase;
    color: $clay;

    &__title {
        @include fontsizeRegular;
        padding: $padding-sml;
        text-align: center;
        font-weight: 500;
        letter-spacing: 1.92px;
    }

    &__info {
        padding: $padding-nano;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $padding-nano;
    }

    &__items {
        @include row;
        @include fontsizeSmall;
        padding: $padding-nano;
        font-weight: 700;
        grid-column: span 2;
    }

    &__total {
        @include fontsizeRegular;
        grid-column: span 2;
        grid-row: 2;
        text-align: right;
    }

    &__line {
        background: rgba(53, 49, 49, 0.24);
    }

    &__time {
        @include fontsizeSmall;
        @include center;
        background-color: $shade-24-dark;
        text-transform: uppercase;
        border-radius: $radius-tier-3;
        padding: $padding-nano;
        margin: $margin-sml;
        color: $coal;
    }
}
