@use "@zocom/styles" as *;

.menu {
  background: $colorClay;
  color: $colorSnow;
  text-shadow: #3531313d 2.5px 1px 1px;
  padding: $baseline;
 
  border-radius: $radius-tier-2;

  .menu_h1 {
    padding: $padding-sml 0;
    @include fontsizeExtraLarge;
    text-transform: uppercase;
    font-weight: 600;
  }

  .menu_h2 {
    @include fontsizeLarge;
    text-transform: uppercase;
    font-weight: 600;
   }
  }

  .menu-item {
    padding-top: $baseline;
    padding-bottom: $baseline;
    margin: $margin-sml;
    border-bottom: $colorLightGray dotted 1px;

    .menu-item__name {
      @include fontsizeLarge;
      text-transform: uppercase;
      white-space: nowrap;
      font-weight: 600;
    }
      
    .menu-item__info{
      @include row;
    }

    .menu-item__divider {
      width: 100%;
      border-bottom: 2px dotted $colorSnow;
      margin-bottom: 6px;
    }

    .menu-item__price{
      @include row;
    }
      
    .ingredients-list {
      @include row;
      gap: $gap-sml;
      font-weight: 400;
    }
    
    &:hover {
      background-color: $colorLightGray;
      cursor: pointer;
    }
  }

  .dip-container {
    margin-top: $margin-large;
  }

  .dip-buttons {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin: $margin-large 0 $margin-sml 0;
    
    .button__regular--default {
      @include fontsizeRegular;
      font-weight: 400;
      background-color: $colorLightGray;
      color: $colorSnow;
      text-shadow: #3531313d 2.5px 1px 1px;
      text-transform: lowercase;
      padding: $padding-sml;
      margin-bottom: 0.5rem;

      &:hover {
        background-color: $colorCoal;
        cursor: pointer;
      }
    }
  }


@media only screen and (max-width: $mobileBreakpoint) {
    .menu {
      margin: $margin-large;
        
      .menu-item {
        margin: $margin-sml 0; 
      }
        
      .dip-buttons {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
      }
    }
  }

