@use "@zocom/styles" as *;





.menu {
  
  
   background:$colorClay;

   color: $colorSnow;
   text-shadow: #3531313d 2.5px 1px 1px;
   padding: $baseline;



  .menu_h1{
    padding: $padding-sml;
   
 @include row;
    @include fontsizeExtraLarge;
    font-weight: 600
  }

  

  .menu_h2{
    @include fontsizeLarge;
    font-weight: 600;
   }

  
  .menu-item {
    padding-top:$baseline;
    padding-bottom: $baseline;
    margin: $margin-sml;
  
    border-bottom:$colorLightGray dotted 1px ;
   
    

    &:hover{
      background-color:$colorLightGray;
      cursor: pointer;
     
    }

    

  .ingredients-list {

        @include row;
        gap: $gap-sml;
        font-weight: 500
        
      }
    
  }


  .dip-buttons-container{
    @include grid;
    margin: $margin-sml;

    .button__regular--default {
      background-color: $colorLightGray;
      color:$colorSnow ;
      text-shadow: #3531313d 2.5px 1px 1px;

      &:hover{
        background-color:$colorCoal;
        cursor: pointer;
  }
}


}
}