@use "@zocom/styles" as *;

$menu-breakpoint: 480px; 

.menu {
  background: $colorClay;
  color: $colorSnow;
  text-shadow: #3531313d 2.5px 1px 1px;
  margin: 1rem;
  font-weight: 600;
  border-radius: $radius-tier-2;
  padding-bottom: $padding-sml;

  .menu_h1 {
    @include fontsizeExtraLarge;
    text-transform: uppercase;
    padding: $padding-large 1rem;
  }

  .menu_h2 {
    @include fontsizeLarge;
    text-transform: uppercase;
    padding: $padding-nano $padding-sml;
   }
  }

  .menu-item {
    white-space: nowrap;
    padding: $padding-sml;
    border-bottom: $colorLightGray dotted 1px;

    &:hover {
      background-color: $colorLightGray;
      cursor: pointer;
    }
    
    
    .menu-item__name{
      @include row;
      white-space: nowrap;
    }

    .menu-item__divider {
      
      width: 100%;
      border-bottom: 2px dotted $colorSnow;
      margin-bottom: $padding-sml;
    }

    .menu-item__price{
      @include row;
      @include fontsizeLarge;
    text-transform: uppercase;
    padding: $padding-nano $padding-sml $padding-nano 0;
    }

    .ingredients-list {
      @include row;
      font-weight: 600;
        gap: $gap-sml;
        margin: $margin-nano 0;
        display: flex;
        flex-wrap: wrap;
        padding: 0 $padding-sml $padding-sml;
    }

    .ingredients-list li:not(:last-child):after {
      content: ',';
     }

  }

  .dip {
    @include fontsizeLarge;
    text-transform: uppercase;
    margin: $baseline;
  
  }

  .dip-buttons-container {
    margin: $margin-sml;
    @include grid;

    .button__regular--default {
      background-color: $colorLightGray;
      color: $colorSnow;
      text-shadow: #3531313d 2.5px 1px 1px;
      text-transform: lowercase;
      margin: $margin-nano;
      font-weight: 600;
      padding: $padding-sml;
      


      &:hover {
        background-color: $colorCoal;
        cursor: pointer;
      }
    }
  }



  @media only screen and (max-width: $menu-breakpoint) {
    
   .dip-buttons-container {
      @include grid;
      grid-template-columns: 1fr; 
    }
  }

