@use '@zocom/styles' as *;

@mixin regularBase {
    @include fontsizeRegular;
    font-weight: 700;
    background-color: $primaryBg;
    padding: $padding $padding-large;
    color: $primaryTextColor;
    transition: all .2s ease;

    &:hover {
        filter: brightness(.95);
    }

    &:active {
        filter: brightness(1.05);
    }
}

button {
    border-radius: $radius-tier-1;

    &.button {
        &__regular {
            &--default {
                @include regularBase();
            }
        }
        
        &__stretch {            
            &--default {
                width: 100%;
                @include regularBase();
            }
        }
    }
}