@use "@zocom/styles" as *;

body {
    background-color: $kitchenBgColor;
}

.staff {

        @include row;
        justify-content: center;
        @include fontsizeRegular;

    &__heading {
        display: flex;
        color: $ash;
        align-items: center;
        font-weight: 700;
        text-transform: uppercase;
        @include fontsizeRegular;
        @include row;
    }

    &__line {
        background-color: #625e5d;
        margin: $margin-large 0 $margin-large 0;
        text-align: center;
    }

    .ongoing-title {
        display: block;
    }
}