@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&family=Open+Sans:wght@500&family=Oswald:wght@200&family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  //font-family: 'Cairo', sans-serif;
  font-family: "Fira Sans", sans-serif;
}

$base: 16px;

@mixin fontsizeExtraLarge {
  font-size: calc($base * 2); // 32px
  line-height: 120%;
  text-transform: uppercase;
}

@mixin fontsizeLarge {
  font-size: calc($base * 1.5); // 24px
  line-height: 120%;
}

@mixin fontsizeRegular {
  font-size: $base;
  line-height: 140%;
}

@mixin fontsizeRegularSmall {
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
}

@mixin fontsizeSmall {
  font-size: calc($base * 0.75); // 12px
  line-height: 120%;
}
