@use '@zocom/styles' as *;

.eta-page{
    .header{
        background-color: $colorClay;
     }
     
    background-color: $colorClay;
    padding: $baseline;
    @include column;
    color: $colorSnow;
    text-transform: uppercase;

    &.order-done {
        background-color: $colorDarkMint;
    }


    .eta-page__title{
        padding: $padding-sml;
        text-align: center;
   
   
        @include fontsizeExtraLarge;
        font-weight: 600
    }
    
    .eta-page__h2{
        text-transform: uppercase;
        @include fontsizeLarge;
        font-weight: 500;
        margin: $baseline;
    }


    .eta-page__buttons{
        @include column;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 96%;

        .button__regular--default,
      
        .button__stretch--default {
            background-color: $colorClay;
            border: $colorSnow 2px solid;
            color: $colorSnow;
            text-transform: uppercase;
            @include fontsizeLarge;
            font-weight: 600;
            padding: $padding-large;

            &:hover{
                background-color:$colorCoal;
                cursor: pointer;
                border: none;
            }
           

            
        }

    }

  
}



