@use "@zocom/styles" as *;

.header {
  width: 100%;
  background-color: rgb(92, 172, 145); // temporary så man ser headern och den vita loggan
  padding: $baseline;
  justify-content: space-between;

  .header__text {
    @include fontsizeExtraLarge;
    align-self: center;
    color: $colorSnow;
  }

  .header__icon--cart {
    position: relative;
    background-color: $primaryBg;
    padding: $baseline;
    text-decoration: none;
    color: $colorSnow;

    .cart__count {
      position: absolute;
      top: 0;
      right: 0;
      background-color: $colorRed;
      margin: -11px;
      margin-right: -11px;
      @include circle;
    }
  }

  @include row;
  @include fontsizeRegular;
}
