@use '@zocom/styles' as *;

.landing-page {
    width: 100vw;
    height: 100vh;
    background-color: #eee;
    @include column;
    padding: $padding-large;

    .quote {
        margin: auto;
        max-width: 60vw;
        width: 100%;
        text-align: center;
        @include fontsizeLarge;
    }
}