@use '@zocom/styles' as *;

.landing-page {
    
    height: 100vh;
    
    @include column;
    padding: $padding-large;
    background-image: url('../../../.././../assets/poster 1.svg');
    padding-bottom: $padding-huge;

    background-size: cover;
    

    .landing-page__content{
      
       @include column;
      
       @include fontsizeExtraLarge;
       font-weight: 600;
       color: $colorSnow;
       background-color: $colorClay;
       padding: $padding-huge;
       border-radius: $radius-tier-1;
    
     
      
       
       
    }

   .landing-page__btnContainer{
    
    .button__stretch--default {
        background-color: $colorClay;
        border: $colorSnow 2px solid;
        color: $colorSnow;
        text-transform: uppercase;
        @include fontsizeLarge;
        font-weight: 600;
        margin-top: $baseline;;
        

        &:hover{
            background-color:$colorCoal;
            cursor: pointer;
            border: none;
        }
    }

   }


}


