@use "@zocom/styles" as *;



.menuPage{
  background-color: $colorMintMenu;
  background-image: url('./menu-page-bg.svg');
  padding-bottom: $padding-huge;
  @include center;
  background-size: cover;
}

